.new_client_request_link_plus {
    color: #52BE7F;
    font-size: 24px;
}
.new_client_request_link_plus:hover {
    color: #52BE7F;
    text-decoration: none;
}
.new_client_request_link_plus:focus {
    color: #52BE7F;
    text-decoration: none;
}
.new_client_request_link_block {
    display:flex;
    align-items: center;
    padding: 5px 10px 5px 0;
}

.headers_wish_lists_new {
    display: flex;
    align-items: center;
    font-weight: 700;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 15px;
}
.block_all_wish_lists_new {
    margin-top: 15px;
}

.row .one-wish_list_ready,
.row .one-wish_list_new {
    margin: 3px 0; padding: 0;
}
.one-wish_list_ready,
.one-wish_list_new {
    background: #707F99;
    color: #FFFFFF;
    padding: 0 5px;
    min-height: 60px;
    border-radius: 12px;
    margin-bottom: 5px;
    cursor: pointer;
}

.one-wish_list_ready:hover,
.one-wish_list_new:hover {
    background: #7F9FC5;
    transition: .3s;
}

.one-wish_list_ready:focus,
.one-wish_list_new:focus {
    background: #7F9FC5;
}

@media screen and (min-width: 1250px) {

    .one-wish_list_ready,
    .one-wish_list_new {
        display: flex;
        align-items: center;
        overflow: hidden;
        max-height: 60px;
    }
    .one-wish_list_ready-data {
        display: flex;
        align-items: center;
        overflow: hidden;
    }
}

.row .one-wish_list_ready-data,
.row .one-wish_list_ready div,
.row .one-wish_list_new div {
    overflow: hidden;
    max-height: inherit;
}

.one-wish_list_ready-data {
    display: none;
    background: #7F9FC5;
    color: #FFFFFF;
    padding: 20px 5px;
    min-height: 60px;
    border-radius:  0 0 12px 12px;
    margin-bottom: 5px;
}

.requirementsTable {
    border-radius: 8px;
    border: 1px solid;
    padding: 10px 15px;
}
.requirementsTable .headers {
    font-weight: 700;
    border-bottom: 1px solid;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.requirementsDataTable {
    border-bottom: 1px solid;
    margin-bottom: 10px;
}
.requirementsDataTable:last-child {
    border: none;
    margin-bottom: 0;
}
a.change-requirement-actual {
    color: #ffffff;
    border-bottom: 1px solid;
    margin-left: 5px;
}
a.change-requirement-actual:hover,
a.change-requirement-actual:focus {
    text-decoration: none;
}

.requirement-filters,
.buttonsFiltersForListRequirements,
.addFiltersForListRequirements.disabled {
    display: none;
}

.requirement-filters.active,
.buttonsFiltersForListRequirements.active {
    display: block;
}